<footer>
    <div class="row">
        <div class="col-md-12 col-sm-12 center-col text-center"> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-facebook btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-twitter btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-google-plus btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-tumblr btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-rss btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-instagram btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-github-alt btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-youtube btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-flickr btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-linkedin btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-dribbble btn-round"></i></a> <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-vimeo-square btn-round"></i></a> </div>
    </div>

    <hr>

    <p class="copy">
        @ 2015 STARTUP, DESIGNED BY DOLGHI
    </p>
</footer>
</body>